/*

  ~~ Ustawienia, zmienne, kolory ~~

 */

$color-white: #fff;
$color-blue: #0d4da4;
$color-yellow: #fec303;

*, *::after, *::before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;

}


body {
  font-size: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
  text-rendering: optimizeLegibility;
}

p {
  margin: 0px 0px;
}

a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2em;
}

p.information {
  margin: 0px 0px;
  padding: 0px 0px;
  letter-spacing: 0.04em;
  word-spacing: 0.1em;
  line-height: 180%;
  color: #727272;
}

/*

  ~~ Main ~~

 */

section.main {
  background: $color-white;
  padding: 0px 0px;
  //padding: .6em .6em;
}

.container {
  display: flex;
  flex-direction: column;
}

/*
  ~~ Logo ~~
*/

.logo {
  padding: 1em 1em;
  border-radius: 6px;
  border: 1px #e2e2e2 solid;
  background-color: #F4F4FC;
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translate(-50%, -50%);
  & img.img--logo {
    max-width: 120px;
    height: auto;
  }
}

/*
  ~~ Buttons ~~
*/

.container__buttons {
  margin-top: 3em;
}

.button {
  width: 222px;
  height: 55px;
  font-size: .83em;
  color: $color-white;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all .2s ease-in-out;

  & img.img--arrow {
    height: 12px;
    width: auto;
    position: relative;
    top: 1px;
    right: -20px;
  }

  &--blue {
    background-color: $color-blue;

    &:hover {
      background-color: darken($color-blue, 10%);
    }
  }

  &--yellow {
    background-color: $color-yellow;
    color: #000;

    &:hover {
      background-color: lighten($color-yellow, 11%);

    }
  }

}

.button:nth-of-type(1) {
  margin-bottom: 1em;
}

/*

  ~~ Container Left ~~

*/

.container-left {
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../img/bg.png");
  height: 160px;
  width: 100%;
}

.container-left__image {
  display: none;
}

/*
  ~~ Container Right ~~
*/

.container-right {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 1rem 1rem;

  &__text--heading {
    padding-bottom: 1rem;
    margin-top: 1em;
    font-size: 2em;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
  }

  &__text--normal {
    margin-top: 1em;
  }

  &__text--heading::after {
    content:"";
    position:absolute;
    top: 50px;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 15%;
    height: 1px;
    margin-top: -1px;
    background: #d3d3d3;
    border-radius: 6px;
  }
}



.container-right__text--normal p.information:nth-of-type(2) {
  margin-top: 2em;
}

/*
  ~~ Footer ~~
*/

.footer-brand {
  padding-top: 1.4em;
}

footer.footer {
  padding-top: .8em;
}

p.red-stripe {
  display: none;
}


/*****************
******************
MEDIA QUERY MEDIUM
******************
******************/

@media (min-width: 992px) {

    /*
      ~~ Section Main Medium ~~
    */

  section.main {
    max-width: 1366px;
    margin: 0 auto;
    padding: .8em .8em;
  }

  .container {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  /*
    ~~ Buttons Medium ~~
  */

  .container__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .button:nth-of-type(1) {
    margin-right: .8rem;
  }

/*
  ~~ Logo Medium ~~
*/
  .logo {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 82px;
    left: 229px;
    z-index: 22;
    width: auto !important;

    img.img--logo {
      min-width: 300px;
      height: auto;
      padding: 2em 2em;
      background: $color-white;
    }
  }

  /*
    ~~ Container Left Medium
  */

  .container-left {
    width: auto;
    height: auto;
    background: none;

  }

  .container-left__image {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
  }

  img.img--bg {
    min-height: 900px;
    width: auto;
  }

  /*
    Container Right Medium
  */

  .container-right {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 7.2em;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    text-shadow:1px 1px 1px 1px rgba(0,0,0,0.005);
    padding-right: 1em;

    &__text--heading {
      margin-top: 1.6em;
      font-size: 3.24em;
      font-weight: 600;
      font-family: 'Titillium Web', sans-serif;
    }

    &__text--normal {
      padding-top: 2.2em;
      font-size: 1em;

      p.information:nth-of-type(2) {
        padding-top: 1.7em;
      }
    }
  }

  /*
    ~~ Footer ~~
  */

footer.footer {
  margin-top: 6em;
  font-family: 'Roboto', sans-serif;
  border: 4px solid #F4F4F4;
  padding: 1em 1em;
  padding-top: 0em;
  border-radius: 3px;
  font-size: 1em;
  color: #727272;
  padding-left: 2em !important;
  position: relative;
}

  p.footer-brand {
    color: black;
    display: block;
    padding-left: 60px;
    margin-top: 1em;
    margin-bottom: .1em;
    font-size: 1rem;
  }


  .footer__right {
    padding-left: 6em;
  }

  .container-footer {
    padding-left: 60px;
    display: flex;
    flex-direction: row;
  }
}

/******************
*******************
MEDIA QUERY DESKTOP
*******************
*******************/

@media (min-width: 993px) and (max-width: 1314px) {

    /*
    ~~ Container Right Desktop ~~
  */

  .container-right {
    &__text--heading::after {
      content: none;
    }
  }

  /*
    ~~ Container Left Desktop
  */
  img.img--bg {
    object-fit: cover;
    height: 1000px;
    width: 330px;
    background-repeat: no-repeat;
  }
}

/*
  Footer Desktop
*/
.container-footer {
  padding-left: 0px;
}

p.red-stripe {
  display: none;
}

.footer-brand {
  padding-left: 0px!important;
}

.footer__right {
  padding-left: 1em;
}

/**********************
***********************
MEDIA QUERY DESKTOP BIG
***********************
***********************/

@media (min-width: 1315px) {

  /*
    ~~ Container Right Desktop Big
  */

  .container-right {
    &__text--heading::after {
      content: none;
    }
  }


  /*
    Container Left Desktop Big
  */

  img.img--bg {
    object-fit: cover;
    width: 421px;
  }

  /*
    Logo Desktop Big
  */

  .logo {
    left: 350px;
  }

  /*
    Footer Desktop Big
  */

  footer.footer {
    padding-left: 4em !important;
  }

  p.red-stripe {
    display: inline !important;
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: #CC0404;
    top: 24px;
    left: 12px;
    display: block;
    border-radius: 6px
  }

  .footer__right {
    padding-left: 3em;
  }
}

